AWS_REGION=us-east-1
S3_BUCKET_NAME=fastretail-product-images-tu-nombre
DYNAMODB_TABLE_NAME=FastRetailImageClassifications
MIN_CONFIDENCE=75

AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_SESSION_TOKEN=your_session_token_here